body {
    font-family: "Poppins", sans-serif;
    max-width: 1280px;
    margin: auto 0;
    background-color: gray;
    color:darkslategray
}

body.modo-escuro {
    background-color: #212121;
    color: #f5f5f5;
}

header .logo,
header .image_botao{
    width: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header #botao_alterar_tema {
    background: none;
    border: none;
}

header .logo:hover,
header .image_botao:hover,
main .cartao_pokemon:hover{
    transform: scale(1.05);
}

main{
    
    padding: 25px;
}

.listagem_pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao_pokemon{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao_pokemon:hover{
    background-color: #96d9d6;
}

.modo-escuro .cartao_pokemon{
    background-color: #a8a8a8;
}

main .cartao_pokemon .informacoes span{
    background-color: aqua;
    padding: 5px;
    font-size: 17px;
}

main .cartao_pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao_pokemon .gif{
    width: 90px;
    height: 90px;
}

main .cartao_pokemon .tipos{
    display: flex;
    gap: 15px;
}

main .cartao_pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb;
}

.fogo{
    background-color: #ee8130;
}

.agua{
    background-color: #6390f0;
}

.inseto{
    background-color: #a6b91a;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}